.footer
    background: color2;

    &__container
        max-width: 1200px;
        min-height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

    &__copyright, &__power-by, &__power-by a
        color: colorWhite;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    &__power-by a
        margin-left: 5px;

        &:hover
            color: color5;

    &__social
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 1 56px;

@media mobile
    .footer
        &__container
            flex-direction: column;

        &__power-by
            margin-bottom: 15px;

        &__social
            order: 2;
            flex: 0 1 100%;
            width: 56px;